body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #4B0082;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C8A2C8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 1.5em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #C8A2C8;
    text-align: center;
}

.intro-text {
    font-size: 1.1em;
    line-height: 1.6;
    color: #4B0082;
    margin: 10px 0;
}

.dtool-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.dserver-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.scope {
    grid-column: span 4;
    background-color: #70ad47;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    color: #666666;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.block img {
    margin-right: 10px;
}

.gui {
    background-color: #eef6ff;
    color: #729fcf;
    /* margin-right: 10pt; */
}

.python-api {
    background-color: #eff7ff;
    color: #244c6f;
    grid-column: span 4;
}

.storage-broker {
    background-color: #f5ecff;
    color: #95319b;
}

.file-system {
    background-color: #efefef;
    color: #666666;
}

.network-share {
    background-color: #fff8d5;
    color: #9c8735;
}

.object-storage {
    background-color: #ffe8e5;
    color: #7b1d13;
}

.other-infrastructure {
    background-color: #efefef;
    color: #666666;
}

.webapp {
    background-color: #dbffef;
    color: #389d70;
}

.restapi {
    background-color: #e4ffa7;
    color: #4d5a31;
    grid-column: span 4;
}

.flask {
    background-color: #d5fbff;
    color: #1a6c73;
}

.search-plugin, .retrieve-plugin, .other-plugins, .database, .mongodb, .other-database {
    background-color: #e5faff;
    color: #00bcf2;
}

.search-plugin, .retrieve-plugin, .other-plugins {
    background-color: #b3e5fc;
}

.mongodb {
    background-color: #e3ffef;
    color: #13aa52;
}

.other-database {
    background-color: #efefef;
    color: #666666;
}

.welcome-cover {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(200, 162, 200, 0.7); /* Lilac semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    animation: fadeIn 2s ease-out;
    z-index: 101; /* Ensure it is above all content */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    main {
        width: 95%;
        margin-top: 120px;
    }
    .dtool-grid, .dserver-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        width: 100%;
        padding: 20px 0;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #eaeaea;
    }
    .funding-badges a {
        margin: 0 15px;
    }
    .funding-badges img {
        height: 50px;
        width: auto;
        vertical-align: middle;
    }
}
